POSTGRES_USER=soko
POSTGRES_PASSWORD=change-me
POSTGRES_DB=soko
POSTGRES_PORT=5432

SOKO_JWT_SECRET=generate-a-random-value-of-at-least-32-characters
SOKO_JWT_TTL_MINUTES=720

API_PORT=8090
CONSOLE_PORT=3500
DB_POOL_MAX=24
